.mainNav{
    background: #6f6565;
}
.mainNav .first ul{
    border:1px solid #6f6565;
}
.allProducts-header{
    background: #6f6565;
}
#bannerSub a{
    background: #6f6565;
}
.allProducts li .hot{
    background: #6f6565;
}
h1,h2,h3,h4,h5,h6{
    color: #6f6565;
}
.focus{
    border: 2px solid #6f6565;
}
a:hover{
    color: #6f6565;
}
.mainNav .first ul li a:hover{
    color: #6f6565;
}
#toolTip{
    border: 1px solid #6f6565;
}
.chang{
    border: 1px solid #6f6565;
}